Thumbs.db
.vs
RoRebuildOld/
RoRebuild/RebuildZoneServer/log/profiler.csv
RoRebuildServer/RoRebuildServer/.config/
RoRebuildServer/RebuildSharedData/obj/
RoRebuildServer/RoRebuildServer/bin/
RoRebuildServer/RoRebuildServer/obj/
RoRebuildServer/RoRebuildServer/temp/
RoRebuildServer/RoServerScript/bin/
RoRebuildServer/RoServerScript/obj/
RoRebuildServer/DataToClientUtility/obj/
RoRebuildServer/DataToClientUtility/bin/
RoRebuildServer/RebuildSharedData/bin/
RoRebuildServer/RoRebuildServer/RoCharacterDatabase.db
RoRebuildServer/RoRebuildServer/RoCharacterDatabase.db-shm
RoRebuildServer/RoRebuildServer/RoCharacterDatabase.db-wal
RoRebuildServer/GameConfig.Generator/bin/
RoRebuildServer/GameConfig.Generator/obj/
RoRebuildServer/GameConfig/bin/
RoRebuildServer/GameConfig/obj/
RebuildClient/Assets/Music/
RebuildClient/Build/
RebuildClient/Library/
RebuildClient/Temp/
RebuildClient/obj/
RebuildClient/*.csproj
RebuildClient/*.sln
RebuildClient/*.suo
RebuildClient/*.DotSettings
RebuildClient/Assets/Maps/
RebuildClient/Assets/Models/
RebuildClient/Assets/Scenes/Maps/
RebuildClient/Assets/Sprites/Monsters/
RebuildClient/Assets/Sprites/
RebuildClient/Assets/Sounds/
RebuildClient/log.txt
RebuildClient/Assets/AddressableAssetsData/Windows/addressables_content_state.bin
RebuildClient/.idea/
RebuildClient/ServerData/
RebuildClient/Assets/Effects/*
!RebuildClient/Assets/Effects/Custom/
RebuildClient/Assets/AddressableAssetsData/AssetGroups/
RebuildClient/Assets/AddressableAssetsData/link.xml
RebuildClient/Assets/AddressableAssetsData/link.xml.meta
RebuildClient/WebGL/
RebuildClient/StandaloneWindows64/
RebuildClient/UserSettings/
RoRebuildServer/RoRebuildServer/Logs/
RoRebuildServer/RoRebuildServer/Cache/
RebuildClient/Assets/Scenes/MainScene/
RebuildClient/Assets/Scenes/LightmapTestScene/
RebuildClient/Assets/AddressableAssetsData/WebGL/
RebuildClient/Assets/Standard Assets/
RebuildClient/Assets/Scenes/Stitch/
RebuildClient/Assets/SampleScenes/
RebuildClient/Assets/Cinemachine/
RebuildClient/Assets/Test/
RebuildClient/Assets/Cinemachine/
RebuildClient/Logs/AssetImportWorker0.log
RebuildClient/Assets/Textures/Guilds/
RebuildClient/Logs/
*.user
Other/~$RoStatProcessing.xlsx
MonstersFullData/
RebuildClient/MemoryCaptures/
Other/MegaConvert/
RoRebuildServer/.idea/
Other/Old2024-12-03/
Other/Backup/
Other/RoWikiGenerator/bin/
Other/RoWikiGenerator/obj/
Other/RoWikiGenerator/images/
Other/RoDatabasePokingTool/
RebuildClient/Packages/
*.db
