Thumbs.db
.vs
RoRebuildOld/
RebuildClient/Build/
RebuildClient/Library/
RebuildClient/Temp/
RebuildClient/obj/
RebuildClient/*.csproj
RebuildClient/*.sln
RebuildClient/*.suo
RebuildClient/*.DotSettings
RoRebuild/RebuildZoneServer/obj/
RoRebuild/RebuildZoneServer/bin/
RoRebuild/RebuildData.Database/obj/
RoRebuild/RebuildData.Database/bin/
RoRebuild/RebuildData.Server/obj/
RoRebuild/RebuildData.Server/bin/
RoRebuild/RebuildData.Shared/obj/
RoRebuild/RebuildData.Shared/bin/
RoRebuild/Libraries/obj/
RoRebuild/Libraries/bin/
RoRebuild/RebuildZoneServer/Data/~$ServerData.xlsx
RoRebuild/DataToClientUtility/bin/
RoRebuild/DataToClientUtility/obj/
RoRebuild/RebuildZoneServer/Data/~$GameData.xlsx
RebuildClient/Assets/Maps/
RebuildClient/Assets/Models/
RebuildClient/Assets/Scenes/Maps/
RebuildClient/Assets/Sprites/Monsters/
RebuildClient/Assets/Sprites/
RebuildClient/Assets/Sounds/
RebuildClient/log.txt
RebuildClient/Assets/AddressableAssetsData/Windows/addressables_content_state.bin
RoRebuild/RebuildZoneServer/Data/GameData.xlsx
Monsters.csv
RebuildClient/Assets/Music/
RoRebuild/RebuildZoneServer/log/profiler.csv
RebuildClient/.idea/
RebuildClient/ServerData/
RebuildClient/Assets/Effects/
RoRebuildServer/RebuildSharedData/obj/Release/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
RoRebuildServer/RebuildSharedData/obj/
RoRebuildServer/RoRebuildServer/bin/
RoRebuildServer/RoRebuildServer/obj/
RoRebuildServer/RoRebuildServer/temp/
RoRebuildServer/RoServerScript/bin/
RoRebuildServer/RoServerScript/obj/
RoRebuildServer/DataToClientUtility/obj/
RoRebuildServer/DataToClientUtility/bin/
RoRebuildServer/RebuildSharedData/bin/
RebuildClient/Assets/AddressableAssetsData/link.xml
RebuildClient/Assets/AddressableAssetsData/link.xml.meta
RebuildClient/WebGL/
RebuildClient/StandaloneWindows64/
RoRebuildServer/RoRebuildServer/RoCharacterDatabase.db
RoRebuildServer/RoRebuildServer/RoCharacterDatabase.db-shm
RoRebuildServer/RoRebuildServer/RoCharacterDatabase.db-wal
RebuildClient/UserSettings/
RoRebuildServer/RoRebuildServer/Logs/
RoRebuildServer/RoRebuildServer/Cache/
RebuildClient/Assets/Scenes/MainScene/
RebuildClient/Assets/Scenes/LightmapTestScene/
RebuildClient/Assets/AddressableAssetsData/WebGL/
RebuildClient/Assets/Standard Assets/
RebuildClient/Assets/Scenes/Stitch/
RebuildClient/Assets/SampleScenes/
RebuildClient/Assets/Cinemachine/
RebuildClient/Assets/prt_fild08stitch.unity
RebuildClient/Assets/prt_fild08stitch.unity.meta
RebuildClient/Logs/AssetImportWorker0.log
RebuildClient/Logs/
*.user
RoRebuildServer/RoRebuildServer/.config/
RebuildClient/Assets/Textures/Guilds/
RebuildClient/Assets/Test/Cylinder01.controller
RebuildClient/Assets/Test/
