@using RoRebuildServer.Data
@using RoWikiGenerator.Generators
@code {
    [Parameter] public MapListingModel Model { get; set; }
}
<br />

<h2 class="subheader tocheader">Table of Contents</h2>
<div class="tocdiv">
    <ul>
        @foreach (var (mapGroup, _) in Model.MapGrouping)
        {
            <li><a href="#Section@(mapGroup.Replace(" ", "_"))">@mapGroup</a></li>
        }
    </ul>
</div>
@{
    var first = true;
}
@foreach (var (mapGroup, maps) in Model.MapGrouping)
{
    <br/>    
    <h3 id="Section@(mapGroup.Replace(" ", "_"))">
        <a class="regionlink" href="regions/@(mapGroup.Replace(" ", "_")).html">@mapGroup</a>
    </h3>
    @foreach (var map in maps)
    {
        var model = DataManager.Maps.First(m => m.Code == map);
        <MapView Model="@model" ShowMonsterSection="false" IsRelativeDir="false"></MapView>
    }
}