
body {
  font-family: Tahoma, Verdana, Arial, "sans-serif";
  font-size: 12px;
  margin: 7px;
  padding: 0;

  background-color:#e1e1e1;
  color: #333;
  line-height: 185%;
}

table {
  font-family: Tahoma, Verdana, Arial, "sans-serif";
  font-size: 12px;

  color: #333;
  width:100%;
}

table.maintb {
  font-family: Tahoma, Verdana, Arial, "sans-serif";
  font-size: 12px;
  
  background-color:#e1e1e1;
  color: #333;
  line-height: 185%;
  width:100%;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 12px;
  text-decoration: none;
  padding: 0px;
  margin: 0px;
}

h3 {
	margin-top: 0em;
	padding-left: 15px;
	font-size: 12px;
	background: url("images/th.png"), url("../images/th.png");
	background-repeat: repeat-x;
	border-left: 10px solid #000;
	color: #fff;
	padding: 0.5em;
	font-variant: small-caps;
}

h2{
	padding: 0.25em;
}

ol { 
  list-style-type: decimal; 
}


td.top {
  vertical-align: top;
}


#topic {
  border: 1px solid #999;
  background-color: #fff;
  margin-bottom: 1em;
  margin-right: 7px;
}

#topic-main {
  border: 1px solid #999;
  background-color: #fff;
  margin-bottom: 1em;  
  padding-left: 15px;
  margin-right: 7px;
}


#topic a {
  color: #000;
  text-decoration: none;
}

#topic a:hover {
  border-bottom: 1px solid #555;
}

#topic td.data {
  border-right: 1px dotted #999;
}

#topic td.data1 {
  border: 1px solid rgb(230,230,230);
  background: rgb(250,250,250);
}

#topic td.data2 {
  border: 1px solid rgb(210,210,210);
  background: rgb(230,230,230);
}

#topic td.data3 {
  border: 1px solid rgb(190,190,190);
  background: rgb(210,210,210);
}

#topic td.data4 {
  border: 1px solid rgb(170,170,170);
  background: rgb(190,190,190);
}

#topic td.before { 
  background: rgb(255,220,220);

}

#topic td.aftern { 

}

#topic td.beforen { 

}

#topic td.after { 
  background: rgb(220,255,220);

}

#topic td.calc {
  border-right: 1px solid #999;
  border-bottom: 1px solid #999;
  background-color: #fff;
  padding-right: 2px;
  padding-left: 5px;
}

#topic td.calcnb {
  border-bottom: 1px solid #999;
  background-color: #fff;
  padding-right: 2px;
  padding-left: 5px;
}


#topic td.subheader {
	margin-top: 0em;
	font-size: 12px;
	background: url("images/th.png"), url("../images/th.png");
	background-repeat: repeat-x;
	color: #fff;
	padding: 0.2em;
}

#topic h2.topicheader {
  font-weight: bold;
  border-bottom: 1px dotted #999;
  margin-top: 0em;
  margin-bottom: 0.5em;
  background: url("images/h2.gif") no-repeat 0px center;
  padding-left: 15px;
  font-size: 12px;
}

#topic h2.subheader {
	margin-top: 0em;
	font-size: 12px;
	background: url("images/th.png"), url("../images/th.png");
	background-repeat: repeat-x;
	color: #fff;
}

#topic h2.mainhead {
  
  font-size: 24px;
}

#topic ul {
  margin: 0em 0em 0em 1em;
  padding: 0px;
  margin-left: 1em;
}

#topic li {
  line-height: 135%;
}

#topic li.sidebar {
  list-style: none;
  line-height: 135%;
}

#topic div.content {
 padding-bottom: 5px;
}

#topic {
  border: 1px solid #999;
  background-color: #fff;
  margin-bottom: 1em;
}

#topic hr2 {
  display: block; 
  clear: left; 
  margin: -0.66em 0;
  visibility: hidden;
}


#topic H4 {
  margin-top: 0em;
  margin-bottom: 0.5em;
  padding-left: 25px;
  font-size: 10px;

  background: #888;
  color: #fff;
}

#topic div.post {
  margin-bottom: 0.5em;  
  padding-left: 5px;
  padding-right: 5px;
}

#topic p:first-letter { font-size: 120% }

#container {
  width: 100%;
  min-width: 640px;
}

#topic td.title {
  font-weight: bold;
    border-bottom: 2px solid rgb(0,0,0)

}

#topic td.subtitle {
  font-weight: bold;
  border-bottom: 1px solid #666;
  background: rgb(192,192,192);
}

#topic td data {
  border: 1px dotted #999;
  border-right: 1px dotted #999;
}


<table align="center" border="2" cellpadding="4" cellspacing="0" style="margin: 1em 1em 1em 0; background: #e5f0ff; border: 1px #000 solid; border-collapse: collapse; align: center; valign: center; width=98%; padding-left: 5px;" class="rochart"><tr>

table.rochart { 
	margin: 1em 1em 1em 0;
	background: #e5f0ff;
	border: 1px #000 solid;
	border-collapse: collapse;
	align: center; 
	valign: center; 
	width=98%; 
}

table.rochart td { 
	border: 1px #333 solid;	
}

.contentzone {
	padding: 5px;
}

.flex-grid {
	display: flex;
}

.skillBox {
	float: left;
	border: 1px solid #999;
	width: 330px;
	margin: 5px;
}

.skillTitle {
	background: url("images/th.png"), url("../images/th.png");
	color: white;
	vertical-align: middle;
}

.skillDesc {
	padding: 0px 5px 5px 5px;
}

.itemtable {
	border-collapse: collapse;
}

.itemtable td, .itemtable th {
	border: 1px #333 solid;
	padding: 4px;
}

.tocheader {
	width: 250px;
}

.tocdiv {
	padding: 5px;
}

.cardart {
	width: 100px;
}

.mapSpawnTable th {
	text-align: left;
}

#topic .maplink {
	color: white;
}


#topic .regionlink {
	color: white;
}

.exptable td {
	text-align: right;
	padding-right: 5px;
}